{% extends 'index.html' %}

{% block content_area %}
    <div  class="col-md-8" >
        <div style="">
            <h4> <strong>{{ blog_entries.title }}</strong> </h4>


            <div style="margin-top: 50px">
                {{ blog_entries.content | safe}}
            </div>


            <div class="postscript-custom">
                Posted by peng xuan {{ blog_entries.update_date  }}
            </div>

            <div style="border-bottom: 1px solid #c0c0c052; margin-top: 25px"></div>
        </div>




        </div>

{%  endblock %}