{% extends 'index.html' %}

{% block content_area %}
    <div  class="col-md-8" id="blog-list">

        {% for entries in category_entries %}

            {% if loop.index > 1 %}

                <div style="margin-top: 50px; ">
                    <h4> <strong>{{  entries.title }}</strong> </h4>

                         <a href="{{ url_for('frontend.blog_detail', blog_id = entries.id)}}">
                             {{ entries.plain_text }}
                         </a>


                    <div class="postscript-custom">
                        Posted by peng xuan {{ entries.update_date  }}
                    </div>

                    <div style="border-bottom: 1px solid #c0c0c052; margin-top: 25px"></div>
                </div>
            {% else %}
                <div >
                    <h4><strong>{{  entries.title }}</strong> </h4>

                         <a href="{{ url_for('frontend.blog_detail', blog_id = entries.id)}}">
                             {{ entries.plain_text }}
                         </a>



                <div class="postscript-custom">
                    Posted by peng xuan {{ entries.update_date  }}
                </div>
                <div style="border-bottom: 1px solid #c0c0c052; margin-top: 25px"></div>

                </div>
           {% endif %}

        {% endfor %}

        </div>

{%  endblock %}