<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>pengx's blog</title>
    <link href="static/bootstrap3/css/blog.css" rel="stylesheet">
     <link href="static/bootstrap3/css/bootstrap.min.css" rel="stylesheet">

</head>
<body >
{#style="background-image: url('static/backgroud.jpg')"#}
    <div>
        <nav class="navbar navbar-custom navbar-fixed-custom">
            <div class="container">
                <div class="col-md-12">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                         <span class="glyphicon glyphicon-menu-hamburger glyphicon-custom" aria-hidden="true"></span>
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand title-custom" href="index.html">Andy peng's blog</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="about.html">About</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->

                </div>

            </div>
            <!-- /.container -->
        </nav>
    </div>

    <div  class="head" style="background-image: url('static/yemei.jpg')"></div>
    <div class="container blog-area" >
    {% block content_area %}
        <div  class="col-md-8" >
            {% for entries in blogs %}

                {% if loop.index > 1 %}

                    <div style="margin-top: 50px; ">

                {% else %}
                    <div style="margin-top: 20px; ">
                {% endif %}
                        <h4> {{  entries.title }} </h4>

                        <p>
                             <a href="{{ url_for('frontend.blog_detail', blog_id = entries.id)}}">
                                 {{ entries.content | truncate(200,True, end='...')}}
                             </a>
                        </p>

                        <div class="postscript-custom">
                            Posted by peng xuan {{ entries.update_date  }}
                        </div>

                        <div style="border-bottom: 1px solid #c0c0c052; margin-top: 25px"></div>
                    </div>


            {% endfor %}


        </div>
    {% endblock %}


        <div class="col-md-2"></div>
        <div  class="col-md-2">
            <h4>category</h4>
            <ul style="margin-left: -20px">
                <li><a href="#">python</a></li>
                <li><a href="#">linux</a></li>
                <li><a href="#">web</a></li>
                <li><a href="#">运维</a></li>
            </ul>

        </div>



    </div>
    <script src="static/bootstrap3/js/jquery-3.3.1.min.js"></script>
    <script src="static/bootstrap3/js/bootstrap.min.js"></script>
</body>
</html>
