<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>pengx's blog</title>
    <link href="{{ url_for('static', filename='bootstrap3/css/blog10.css') }}" rel="stylesheet">
     <link href="{{ url_for('static',filename='bootstrap3/css/bootstrap.min.css') }}" rel="stylesheet">

</head>
<body >
    <div>

    <div  class="head" style="background-image: url('{{ url_for('static', filename='yemei.jpg') }}');
            padding: 15px 0 0 !important; ">
        <nav class="navbar navbar-custom navbar-fixed-custom">
            <div class="container">
                <div class="col-md-12">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                         <span class="glyphicon glyphicon-menu-hamburger glyphicon-custom" aria-hidden="true"></span>
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand title-custom" href="{{ url_for('frontend.index') }}">Andy peng's blog</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="about.html">About</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->

                </div>

            </div>
            <!-- /.container -->
        </nav>

        <div class="col-md-8 col-md-offset-2" style="font-size: 50px;color: #fff;
            text-align: center; font-weight: 100">
            记录学习点滴
        </div>

    </div>


    </div>



    <div class="container blog-area" >
    {% block content_area %}
        <div  class="col-md-8" >
            {% for entries in blogs %}

                {% if loop.index > 1 %}

                    <div style="margin-top: 50px; ">
                        <h4> <strong>{{  entries.title }}</strong> </h4>

                        <p>
                             <a href="{{ url_for('frontend.blog_detail', blog_id = entries.id)}}">
                                 {{ entries.content | truncate(200,True, end='...')}}
                             </a>
                        </p>

                        <div class="postscript-custom">
                            Posted by peng xuan {{ entries.update_date  }}
                        </div>

                        <div style="border-bottom: 1px solid #c0c0c052; margin-top: 25px"></div>
                    </div>


                {% else %}
                    <div >
                        <h4><strong>{{  entries.title }}</strong> </h4>
                        <p>
                             <a href="{{ url_for('frontend.blog_detail', blog_id = entries.id)}}">
                                 {{ entries.content | truncate(200,True, end='...')}}
                             </a>
                        </p>

                        <div class="postscript-custom">
                            Posted by peng xuan {{ entries.update_date  }}
                        </div>

                        <div style="border-bottom: 1px solid #c0c0c052; margin-top: 25px"></div>
                    </div>
                {% endif %}
            {% endfor %}

        </div>
    {% endblock %}


        <div class="col-md-2"></div>
        <div  class="col-md-2">
            <h4>Category</h4>
            <ul style="margin-left: -20px">
                {% for c_e_count in category_entries_count %}
                    <li>
                        <a href="{{ url_for('frontend.category_page', category_id=c_e_count[0]) }}">
                        {{ c_e_count[1] }}({{ c_e_count[2] }})
                        </a>
                    </li>
                {%  endfor %}
            </ul>

            <h4 style="margin-top: 30px">Archive</h4>
            <ul style="margin-left: -20px">
                {% for e_a_count in entries_archive_count %}
                    <li>
                        {% if e_a_count[1] < 10 %}
                            {% set year_month_value = "%s-%s" | format(e_a_count[0], 0 ~ e_a_count[1]) %}
                        {% else %}
                            {% set year_month_value = "%s-%s" | format(e_a_count[0], e_a_count[1]) %}
                        {% endif %}
                        <a href="{{ url_for('frontend.archive_page', year_month=year_month_value)}}">
                        {{ e_a_count[0] }}年{{ e_a_count[1] }}月({{ e_a_count[2] }})
                        </a>
                    </li>
                {%  endfor %}
            </ul>

        </div>
    </div>

    <div class="container">
        <div class="col-md-8 col-md-offset-2"  style="text-align: center; margin-bottom: 20px">
        Copyright ©2017-2018 Peng Xuan Corporation, All Rights Reserved
        </div>
    </div>

    <script>
    </script>
    <script src="{{ url_for('static', filename='bootstrap3/js/jquery-3.3.1.min.js')}}"></script>
    <script src="{{ url_for('static', filename='bootstrap3/js/bootstrap.min.js')}}"></script>

    <script>

    </script>
</body>
</html>
